<body>
  <h1>Welcome to your BGP Looking Glass Server!</h1>
  <div id="page">
    <div id="content">
      
      <form method="post" action="http://127.0.0.1:5000/">
        <div id="options">
          
          <div id="lg_routers">
            <h3>Routers</h3>
            <ul>
              <li>Router List 1
                <ul>
                  <li>
                    <input type="radio" name="routers" id="router_list_1" value="5002">
                    <label for="router_list_1" title="Router 1"> Router 1 </label>
                  </li>
                </ul>
              </li>

              <li>Router List 2
                <ul>
                  <li>
                    <input type="radio" name="routers" id="router_list_2" value="5004">
                    <label for="router_list_2" title="West Router 2"> Router 2 </label>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          
          <div id="lg_commands">
            <h3>Commands</h3>
            <ul>
              <li>
                <input type="radio" name="command" id="command_ping" value="ping">
                <label for="command_ping">Ping</label>
              </li>

              <li>
                <input type="radio" name="command" id="command_traceroute" value="trace">
                <label for="command_traceroute">Traceroute</label>
              </li>

              <li>
                <input type="radio" name="command" id="command_bgpsummary" value="bgpsum">
                <label for="command_bgpsummary">BGP Summary</label>
              </li>
            </ul>

            <br>
            
            <h3>Arguments</h3>
            <ul>
              <li>
                <label for="ip" id="ip_label">IP Address:</label>
                <input type="text" name="ip" id="ip" value="" size="40">
              </li>
            </ul>

            <br>
            
            <input type="submit" value="Go!"> <input type="reset" value="Clear">
          
          </div>
        </div>
      </form>
    </div>
  </div>
</body>